/* Needed for sticky footer */
html, body {
  height: 100vh;
}

body>footer {
  position: sticky;
  top: 100vh;
}

#header-image {
  width: 150px;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Strain Cards */

article.strain > header {
  text-transform: uppercase;
}
